.ocio {
    background-color: brown;
    color: white;

}

.obligaciones {
    background-color:blue;
    color: white;
}

.hogar {
    background-color: rgb(89, 223, 71);
    color: rgb(0, 0, 0);

}

.mercado {
    background-color: rgb(108, 0, 0);
    color: white;

}

.otros {
    background-color: rgb(255, 66, 201);
}

.precio {
    font-size: 15px;
    font-weight: bold;
}
.descripcion {
    font-size: 10px;
}