.ocio {
    background-color:#F76C27;
}

.obligaciones {
    background-color:#EEE03E;
    color: black !important;
}

.deudas {
    background-color: #E73F3F;
}

.retiro{
    background-color:#D592CB;
}

.hogar {
    background-color: #6D9DD1;
}

.mercado {
    background-color: #F7469E;
}

.otros {
    background-color: #7E45D3;
}

.mascotas {
    background-color: #CF5949;
}

.celeste {
    background-color: #D580FD;
}
.TC{

    background-color: #828484;
}

.restaurante {
    background-color: #dee373;
    color: black !important;
}

.capitalize{
    text-transform: capitalize;
}

.text_white{
    color: white;
}

.precio {
    font-size: 15px;
    font-weight: bold;
}
.descripcion {
    font-size: 10px;
}