.title {
    text-align: center;
    background-color: #fff;
    padding: 0.6rem;
    margin-bottom: 20px;

}
.title span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}
.title .back{
    float: left;
    height: 22px;
    cursor: pointer;
}