.card{

    margin: 10px 30px;
}

.activeMonth {
    color: #285cf1;
}

.inactiveMonth {
    color: #A83E10;
}

.inactiveMonthBtn{
    background: #A83E10;
}

.buttonSeeMore {
    position: absolute;
    left: 50px;
    top: 20px;
}

.footerCard{
    text-align: center;
    border-top: 2px dotted #dedede;
}

